.gradle/
.idea/
gradle/
src/main/resources/

frontend/.yarn/
frontend/gradle/
frontend/ios/
frontend/node_modules/
frontend/android/.gradle/
frontend/android/build/
frontend/android/gradle/
frontend/android/app/build/
frontend/android/app/.cxx/





