.gradle/
.idea/
gradle/
build/
src/main/resources/application.yml


frontend/.yarn/
frontend/gradle/
frontend/ios/
frontend/node_modules/
frontend/android/.gradle/
frontend/android/build/
frontend/android/gradle/
frontend/android/app/build/
frontend/android/app/.cxx/
frontend/src/main/resources/
src/test/resources/application-test.yml
